.venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
ENV/
build/
dist/
eggs/
parts/
sdist/
develop-eggs/
.installed.cfg
*.egg-info/
*.egg
chroma_db/*.sqlite3
.DS_Store
.env
/.idea/
/.vscode/

# Chroma DB internal storage
chroma_db/*/data_*.bin
chroma_db/*/header.bin
chroma_db/*/length.bin
chroma_db/*/link_lists.bin
